<!--
	Creates an image



-->
<div style="position: relative; text-align: left; color: white; width: {{ include.width }};">
	<a href="{{ include.link | relative_url }}">
		<img style="width: 100%;" alt="A screengrap from the game" src="{{ include.img | relative_url }}"/>
		<div style="position: absolute; 
				bottom: 0px; 
				left: 0px; 
				padding: 8px; 
				width: 100%; 
				background: rgb(0,0,0);
				background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
				">
			{% if include.header %}
			<h2 style="color:white;">{{ include.header }}</h2>
			{% endif %}

			{% if include.text %}
			<p style="color:white;"> {{include.text}} </p>
			{% endif %}
		</div>
	</a>
</div>
<br/>